{# templates/admin/error_permission.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Accès refusé{% endblock %}

{% block body %}
    
    <h1>Accès refusé</h1>
    <p>Vous n'avez pas la permission d'accéder à cette ressource.</p>
{% endblock %}
