


body {
    background-color: rgb(255, 255, 255); /* Couleur par défaut pour le thème clair */
}

/* Thème clair pour la div de connexion */
.card {
    background-color: rgb(255, 255, 255); /* Fond blanc */
    color: rgb(0, 0, 0); /* Texte noir */
    /* Ajoutez d'autres styles si nécessaire */
}

/* Cacher le menu d'EasyAdmin */
.sidebar {
    display: none;
}
.responsive-header #responsive-header-logo a{
    display: none;
}
.fa-bars:before, .fa-navicon:before{
    display: none;
}



/* Styles pour le thème sombre */
body.ea-dark-scheme {
    background-color: rgb(34, 34, 34); /* Fond sombre */
}

body.ea-dark-scheme .card {
    background-color: rgb(44, 44, 44); /* Fond légèrement plus clair que le fond général */
    color: rgb(220, 220, 220); /* Texte clair */
    /* Ajoutez d'autres styles si nécessaire */
}


.password-reset-container {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.password-reset-container h1 {
    margin-bottom: 20px;
    text-align: center;
}

#emailError {
    margin-top: 5px;
}
body.ea-dark-scheme .form-control{
    color: black ;
}
