<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }
        .email-container {
            max-width: 600px;
            margin: 20px auto;
            padding: 20px;
            background-color: #ffffff;
            border-radius: 5px;
            box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
        }
        .email-header {
            text-align: center;
            margin-bottom: 20px;
        }
        .email-content {
            margin-bottom: 20px;
        }
        .email-content a {
            display: inline-block;
            padding: 10px 20px;
            margin: 20px 0;
            background-color: #3498db;
            color: #ffffff;
            text-decoration: none;
            border-radius: 3px;
            margin-left: auto;
            margin-right: auto;
            display: table;
        }
        .email-footer {
            text-align: center;
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <div class="email-container">
        <div class="email-header">
            <h2>Bonjour {{ user.nom }} {{ user.prenom }}</h2>
        </div>
        <div class="email-content">
            <p>Nous avons reçu une demande de réinitialisation de votre mot de passe.</p>
            <p>Veuillez cliquer sur le bouton ci-dessous pour réinitialiser votre mot de passe:</p>
            <a href="{{ url|raw }}">Réinitialiser le mot de passe</a>
        </div>
        <div class="email-footer">
            <p>Merci de votre confiance,</p>
            <img src="http://localhost:8000/Avesta_logo_png.png" alt="Logo Avesta" width="150">
        </div>
    </div>
</body>
</html>
